:root {
    --inner-box-xxx: 0px;
}

.BlurDefault {
    filter: blur(5px);
    transition: 0.5s;
}

.BlurDefault:focus {
    filter: blur(0px);
}

.BingoItem {
    width: 100px;
    height: 100px;
    position: relative;
}

.BingoItemInnerBox {
    position: absolute;
    padding: 5px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.BingoItem>.BingoItemInnerBox:nth-child(1) {
    opacity: 1;
}

.BingoItem:hover>.BingoItemInnerBox:nth-child(1) {
    opacity: 0;
}

.BingoItem>.BingoItemInnerBox:nth-child(2) {
    margin-left: calc(-1 * var(--inner-box-xxx));
    margin-top: calc(-1 * var(--inner-box-xxx));
    width: calc(10rem + 2 * var(--inner-box-xxx));
    height: calc(10rem + 2 * var(--inner-box-xxx));
    z-index: 1;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.BingoItem>.BingoItemInnerBox:nth-child(2) {
    opacity: 0;
}

.BingoItem:hover>.BingoItemInnerBox:nth-child(2) {
    opacity: 1;
}